@media (min-width: 960px) {
    .product-grid {
        padding-left: 40px;
        padding-right: 48px;
        width: 100%;
    }
}
.css-1hl0l1w {
    max-width: 1920px;
    padding: 0 48px;
    position: relative;
}
main {
    display: block;
}
@media only screen and (min-width: 960px) {
    .css-hvew4t {
        padding-bottom: 0;
    }
}
.css-hvew4t {
    text-align: left;
}
@media only screen and (min-width: 960px) {
    .css-1t0asop {
        width: 33.33333333333333%;
        display: inline-block;
    }
}

.css-1t0asop {
    position: relative;
    min-height: 1px;
    display: none;
    font-size: 16px;
    line-height: 1.75;
    padding-left: 8px;
    padding-right: 8px;
    // width: 50%;
    display: inline-block;
    vertical-align: top;
    .product-card__body {
        position: relative;
        margin-bottom: 18px;
        max-width: 592px;
    }
    .product-card__link-overlay {
        font-size: 0;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 1;
        cursor: pointer;
    }
    .product-card__img-link-overlay {
        display: block;
        z-index: 1;
        position: relative;
    }
    .product-card__hero-image {
        width: 100%;
        background: #f5f5f5;
    }
    .product-card__info {
        position: relative;
        padding: 12px 0 2px 0;
        min-height: 185px;
        font-size: 16px;
        .product_msg_info {
            display: inline-block;
        }
        .product-card__messaging {
            color: #9e3500;
        }
    }
    .product-card__titles {
        line-height: 1.5em;
    }
    .product-card__title {
        color: #111111;
        font-weight: 500;
        font-size: 1.8rem;
    }
    .product-card__subtitle {
        color: #707072;
        font-size: 16px;
    }
    .product-card__price-wrapper {
        vertical-align: top;
        text-align: left;
        width: 100%;
        .product-price__wrapper {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            .is--current-price {
                padding-right: 5px;
            }
        }
    }
    .product-card__price {
        font-size: 16px;
        padding-right: 16px;
    }
}
.css-1s0cf0f figure {
    margin: 0px;
}
.css-1la3v4n img {
    width: 100%;
    height: auto;
    display: block;
    opacity: 1;
    -webkit-transition: opacity 0.28s;
    transition: opacity 0.28s;
}
.css-9xqpgk {
    font-weight: 500;
    font-size: 1.8rem;
}
