.container {
    width: 100%;
    padding-left: 8px;
    padding-right: 8px;
}
.css-1mogwid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    vertical-align: top;
    margin: 0px auto 40px;
    padding-top: 40px;
}
.css-1efyhwg {
    max-width: 1100px;
    padding-top: 8px;
    width: 100%;
}

@media only screen and (min-width: 960px) {
    .css-1k22aut {
        flex-direction: row;
    }
}

.css-1k22aut {
    display: flex;
    // flex-direction: column;
}
@media only screen and (min-width: 960px) {
    .css-8j20tp {
        flex-basis: 66.6667%;
        max-width: 66.6667%;
    }
}
.css-8j20tp {
    padding-left: 8px;
    padding-right: 8px;
}
@media only screen and (min-width: 960px) {
    .css-1xvlvuc {
        box-shadow: none;
    }
}

.css-1xvlvuc {
    display: flex;
    flex-direction: column;
    box-shadow: rgb(229, 229, 229) 0px 1px 0px 0px inset;
}
//
