.mt-6 {
    margin-top: 24px;
    form {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}
.wd-100pct {
    width: 100%;
}
.mb-8,
form > * {
    margin-bottom: 32px;
}
.text-input {
    position: relative;
    color: #111;
}
.text-input input {
    width: 100%;
    box-shadow: 0 0 0 1px #ccc;
    border-radius: 4px;
    border: none;
    box-sizing: border-box;
    -webkit-appearance: none;
    padding-right: 32px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
}
.pr-8 {
    width: 100%;
    padding-right: 32px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
}
