.product {
    margin: 0 auto;
    max-width: 1200px;
    display: flex;

    .product-info {
        @media (min-width: 960px) {
            width: 456px;
        }
        .info-layout {
            height: 100%;
            @media only screen and (min-width: 960px) {
                padding: 4px 48px 0 24px;

                .product-main {
                    display: flex;
                    width: 100%;
                    .main-info {
                        flex: 3 1 80%;
                        padding-right: 8px;
                        .info-title {
                            font-weight: 500;
                            line-height: 1.2;
                            letter-spacing: 0.007em;
                        }
                        .info-sub-title {
                            padding-bottom: 4px;
                            display: inline-block;
                        }
                        .info-price {
                            margin-bottom: 12px;
                            .product-price {
                                margin-top: 12px;
                                margin-right: 8px;
                            }
                        }
                    }
                }
                .product-sub {
                    margin-top: 32px;
                    .mt5-sm {
                        border: none;
                        margin: 20px 0 12px;
                        .css-ybrhvy {
                            background: transparent;
                            width: 100%;
                            text-align: left;
                            @media only screen and (min-width: 960px) {
                                padding: 0;
                            }
                            .css-uf1ume {
                                display: flex;
                                justify-content: space-between;
                                @media only screen and (min-width: 960px) {
                                    padding-top: 0;
                                }
                            }
                        }
                        .sizes-guild {
                            display: grid;
                            grid-template-columns: repeat(3, 1fr);
                            gap: 7px;
                            margin-top: 8px;
                            .sizes-item {
                                position: relative;
                                .visually-hidden {
                                    position: absolute !important;
                                    height: 1px;
                                    width: 1px;
                                    overflow: hidden;
                                    clip: rect(1px 1px 1px 1px);
                                    clip: rect(1px, 1px, 1px, 1px);
                                    white-space: nowrap;
                                    -webkit-appearance: radio;
                                }
                                .css-xf3ahq {
                                    cursor: pointer;
                                    outline: none;
                                    flex: 1;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    background: rgb(255, 255, 255);
                                    color: rgb(17, 17, 17);
                                    box-shadow: rgb(229, 229, 229) 0 0 0 1px;
                                    height: 48px;
                                    border-radius: 4px;
                                }
                            }
                        }
                    }
                    .css-18lb4yz {
                        margin: 6px 0 24px;
                        .btn-add-to-bag:hover {
                            background: #707072;
                        }
                        .btn-favourite:hover {
                            outline: 0;
                            border-color: #111111;
                        }
                    }
                    .promo {
                        padding: 0 24px;
                        color: #111111;
                        background-color: #ffffff;
                        margin-bottom: 24px;
                        span {
                            display: block;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}

.prl1-sm {
    padding: 0 4px;
}
.mb4-sm {
    margin-bottom: 16px;
}
.mt4-sm {
    margin-top: 16px;
}
.ncss-list-ul .ncss-li {
    list-style-type: disc;
    margin-left: 16px;
}
.css-1e0k2gt {
    padding-top: 20px;
}
.mb5-sm {
    margin-bottom: 20px;
}
.mb10-sm {
    margin-bottom: 40px;
}
.mr1-sm {
    padding-right: 4px;
}
.text-color-secondary {
    color: #707072;
}
.pl4-sm {
    padding-left: 16px;
}
.d-sm-ib {
    display: inline-block;
}
.pb2-sm {
    padding-bottom: 8px;
}
.mt10-sm {
    margin-top: 40px;
}
.css-15juft3 {
    cursor: pointer;
    padding-bottom: 4px;
    border-radius: unset;
}
.pt2-sm {
    padding-top: 8px;
}
.css-16dt2qi {
    padding: 60px 0;
    overflow-x: hidden;
}
.css-z31e8r {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    > * {
        margin: 0;
    }
}
.css-1xkyzis.grid-aligned {
    padding: 0 48px;
}
.css-1xkyzis {
    position: relative;
    .carousel-header {
        margin-bottom: 12px;
        align-items: center;
        color: #111111;
    }
    .nav-btn-wrapper {
        justify-content: flex-end;
        align-items: center;
        margin-inline-start: 12px;
    }
    .carousel-btn {
        background: none;
        border: 0;
        color: #111111;
        cursor: pointer;
        display: flex;
        padding: 0;
        border-radius: 24px;
        .icon {
            height: 48px;
            width: 48px;
            background-color: #e5e5e5;
            border-radius: 24px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    .slider {
        color: inherit;
        transition: color 250ms ease-in-out;
        scrollbar-color: #707072 transparent;
        scrollbar-width: thin;
    }
    > .slider {
        > * {
            color: #111111;
            flex-flow: column;
            min-width: auto;
            padding: 0 6px;
            scroll-snap-align: start;
            .slide {
                padding-right: 10px;
            }
        }
    }
    .grid-aligned > .slider > * {
        padding: 0;
    }
}
.css-6df7i4 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    > * {
        margin-bottom: 0;
    }
}
.css-w9w6jj {
    background: #cacacb;
    border: 1px solid #cacacb;
    overflow: hidden;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-radius: 4px;
}
.css-nr5j7g {
    position: relative;
    width: auto;
    &::before {
        content: '';
        width: 1px;
        margin-left: 1px;
        float: left;
        height: 0;
        padding-top: 100%;
    }
    &::after {
        content: '';
        display: table;
        clear: both;
    }
    > video,
    img,
    iframe,
    embed,
    canvas {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
.css-tah5ss {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    padding-inline-start: 0;
    .details,
    .price-info {
        position: relative;
    }
    .details {
        padding-block-start: 8px;
    }
}
.css-6df7i4 > * + * {
    margin-top: 12px;
}
.css-6df7i4 > * {
    margin-bottom: 0;
    h3 {
        font-weight: 400;
    }
    h4 {
        font-weight: 400;
        color: #707072;
    }
}
.selected {
    border: 2px solid black;
}
