.css-1s0cf0f {
    position: relative;
    z-index: 0;
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    text-align: center;
}
.css-1qezlf9 {
    max-width: 1920px;
    position: relative;
    min-height: 1px;
    display: none;
    font-size: 16px;
    line-height: 1.75;
    padding-left: 8px;
    padding-right: 8px;
    width: 100%;
    display: inline-block;
    padding: 0;
    text-align: center;
    .wall-header-offset {
        height: 15px;
    }
    .css-iqr4dm {
        -webkit-transition: -webkit-transform 150ms ease;
        -webkit-transition: transform 150ms ease;
        transition: transform 150ms ease;
    }
    .wall-header {
        padding: 0px 48px 15px;
        background: #fff;
        .wall-header__content {
            padding-top: 8px;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            -webkit-align-items: flex-end;
            -webkit-box-align: flex-end;
            -ms-flex-align: flex-end;
            align-items: flex-end;
        }
        .wall-header__title {
            -webkit-flex: 1 1 0%;
            -ms-flex: 1 1 0%;
            flex: 1 1 0%;

            font-size: 24px;
            line-height: 1.3;
            padding-bottom: 2px;
        }
        .wall-header__nav {
            display: -webkit-inline-box;
            display: -webkit-inline-flex;
            display: -ms-inline-flexbox;
            display: inline-flex;
            -webkit-align-items: baseline;
            -webkit-box-align: baseline;
            -ms-flex-align: baseline;
            align-items: baseline;
        }
    }
    .wall-header__title {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: left center;
        -ms-transform-origin: left center;
        transform-origin: left center;
        -webkit-transition: -webkit-transform 200ms;
        -webkit-transition: transform 200ms;
        transition: transform 200ms;
    }
}
.css-iqr4dm {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    z-index: 9;
}
.css-1sineef {
    display: block;
    max-width: 1920px;
}
.css-r2u0ax {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.16667;
    text-align: left;
}
.css-1oqgtvq {
    display: flex;
    font-size: 1.2em;
    padding: 0px 25px 0px 0px;
    background: transparent;
    -webkit-box-align: center;
    align-items: center;
    font-weight: 400;
    .filters-btn__filter_text {
        padding-right: 8px;
        color: rgb(17, 17, 17);
    }
}
// Results
@media (min-width: 960px) {
    .css-1qezlf9 .results__body {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
}
