.mh-5-md {
    flex: 1;
    margin-left: 20px;
    margin-right: 20px;
}
.main {
    width: 100%;
    display: flex;
    justify-content: center;
}
.content {
    display: block;
}

@media only screen and (min-width: 1024px) {
    .checkout {
        flex-direction: row-reverse;
        width: 880px;
    }
}
@media only screen and (min-width: 640px) {
    // .checkout {
    //     width: 600px;
    //     padding-bottom: 100px;
    // }
}
.checkout {
    display: flex;
    // flex-direction: column;
    flex: 1;
    margin: auto;
    padding: 70px 0 60px;
}
.checkout__body {
    display: flex;
    flex-direction: column;
    flex: 1;
    z-index: 1;
    padding-left: 0;
    padding-right: 0;
}
.section {
    padding-top: 20px;
}
.section__heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    h2 {
        padding-bottom: 4px;
    }
}
.section__content {
    padding-bottom: 8px;
}
.mt-6 {
    margin-top: 24px;
    form {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}
.wd-100pct {
    width: 100%;
}
.mb-8,
form > * {
    margin-bottom: 32px;
}
.text-input {
    position: relative;
    color: #111;
}
.text-input input {
    width: 100%;
    box-shadow: 0 0 0 1px #ccc;
    border-radius: 4px;
    border: none;
    box-sizing: border-box;
    -webkit-appearance: none;
    padding-right: 32px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
}
.checkout__summary {
    border: 0;
    margin-left: 120px;
    max-width: 320px;
    flex: 1;
    position: static;
    width: 100%;
}

.btn-checkout {
    cursor: default;
    color: #757575;
    background-color: #f5f5f5;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 1.6rem;
}
.pr-8 {
    width: 100%;
    padding-right: 32px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
}
.btn-checkout.enabled {
    cursor: pointer;
    color: white;
    background-color: #111;
}
