.product {
    margin: 0 auto;
    max-width: 1200px;
    z-index: -1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    .product-img {
        @media (min-width: 960px) {
            width: calc(100% - 456px);
        }
        .product-img-show {
            display: flex;
            flex-direction: row;
            gap: 16px;
            align-content: flex-start;
            position: sticky;
            top: 40px;
            padding-left: 48px;
            margin-left: 8px;
            max-height: 669px;
            min-height: 455px;
            .product-list-img {
                display: flex;
                position: relative;
                flex-direction: column;
                -webkit-box-flex: 1;
                flex-grow: 1;
                gap: 8px;
                min-width: 60px;
                max-width: 60px;
                height: 100%;

                .img-item {
                    position: relative;
                    height: 60px;
                    width: 60px;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-align: end;
                    -ms-flex-align: end;
                    align-items: flex-end;
                    -webkit-box-pack: start;
                    -ms-flex-pack: start;
                    justify-content: flex-start;
                    .input-img {
                        -webkit-appearance: radio;
                        opacity: 0;
                        height: 0px;
                        width: 0px;
                        position: absolute;
                        display: none;
                    }
                    .label-img {
                        position: relative;
                        width: 100%;
                        height: 100%;
                        border-radius: 4px;
                    }
                }
            }
            .product-main-img {
                width: 535px;
                max-width: 535px;
                height: 669px;
                border-radius: 8px;
                overflow: hidden;
                position: relative;
                -webkit-box-flex: 1;
                flex-grow: 1;
                .css-19ih7ns {
                    position: absolute;
                    bottom: 24px;
                    right: 24px;
                    display: flex;
                    flex-direction: row;
                    gap: 8px;
                    .trannin {
                        background: #ffffff;
                        color: #111111;
                    }
                }
            }
        }
    }
    .product-info {
        @media (min-width: 960px) {
            width: 456px;
        }
        .info-layout {
            height: 100%;
            @media only screen and (min-width: 960px) {
                padding-right: 48px;
                padding-left: 24px;
                padding-top: 4px;

                .product-main {
                    display: flex;
                    width: 100%;
                    .main-info {
                        flex: 3 1 80%;
                        padding-right: 8px;
                        .info-title {
                            font-weight: 500;
                            line-height: 1.2;
                            letter-spacing: 0.007em;
                        }
                        .info-sub-title {
                            padding-bottom: 4px;
                            display: inline-block;
                        }
                        .info-price {
                            margin-bottom: 12px;
                            .product-price {
                                margin-top: 12px;
                                margin-right: 8px;
                            }
                        }
                    }
                }
                .product-sub {
                    margin-top: 32px;
                    .mt5-sm {
                        border: none;
                        margin-top: 20px;
                        margin-bottom: 12px;
                        .css-ybrhvy {
                            background: transparent;
                            width: 100%;
                            text-align: left;
                            @media only screen and (min-width: 960px) {
                                padding-right: 0;
                                padding-left: 0;
                            }
                            .css-uf1ume {
                                display: flex;
                                -webkit-box-pack: justify;
                                justify-content: space-between;
                                @media only screen and (min-width: 960px) {
                                    padding-top: 0;
                                }
                            }
                        }
                        .sizes-guild {
                            display: grid;
                            grid-template-columns: repeat(3, 1fr);
                            gap: 7px;
                            margin-top: 8px;
                            .sizes-item {
                                position: relative;
                                .visually-hidden {
                                    position: absolute !important;
                                    height: 1px;
                                    width: 1px;
                                    overflow: hidden;
                                    clip: rect(1px 1px 1px 1px);
                                    clip: rect(1px, 1px, 1px, 1px);
                                    white-space: nowrap;
                                    -webkit-appearance: radio;
                                }
                                .css-xf3ahq {
                                    cursor: pointer;
                                    outline: none;
                                    -webkit-box-flex: 1;
                                    flex-grow: 1;
                                    display: flex;
                                    -webkit-box-align: center;
                                    align-items: center;
                                    -webkit-box-pack: center;
                                    justify-content: center;
                                    background: rgb(255, 255, 255);
                                    color: rgb(17, 17, 17);
                                    box-shadow: rgb(229, 229, 229) 0px 0px 0px 1px;
                                    height: 48px;
                                    border-radius: 4px;
                                }
                            }
                        }
                    }
                    .css-18lb4yz {
                        margin-top: 6px;
                        margin-bottom: 24px;
                    }
                    .promo {
                        padding-right: 24px;
                        padding-left: 24px;
                        color: #111111;
                        background-color: #ffffff;
                        margin-bottom: 24px;
                        span {
                            display: block;
                            text-align: center;
                        }
                    }
                }
                .product-description {
                    .product-note {
                        padding-top: 24px;
                        .description-preview {
                            .description-preview__features {
                                padding-top: 32px;
                                padding-bottom: 24px;
                                .ncss-li {
                                    list-style-type: disc;
                                    margin-left: 16px;
                                    margin-bottom: 4px;
                                }
                            }
                        }
                    }
                }
                .product-feedback {
                    .css-w11ebw {
                        min-width: 320px;
                        margin-top: 40px;
                        box-shadow: inset 0 -1px 0 0 #e5e5e5;
                        box-shadow: inset 0 -1px 0 0 var(--palette-dismissive, #e5e5e5);

                        & > details {
                            box-shadow: inset 0 -1px 0 0 #e5e5e5;
                            box-shadow: inset 0 1px 0 0 var(--palette-dismissive, #e5e5e5);
                        }
                        details {
                            display: block;
                        }
                        & summary {
                            display: grid;
                            grid-template-columns: 1fr 1fr;
                            -webkit-align-items: center;
                            -webkit-box-align: center;
                            -ms-flex-align: center;
                            align-items: center;
                            position: relative;
                            padding: 28px 0px;
                            background: transparent;
                            width: 100%;
                            list-style: none;
                            cursor: pointer;
                            ::after {
                                -webkit-transform-origin: -50 50%;
                                -ms-transform-origin: -50 50%;
                                transform-origin: -50 50%;
                                display: block;
                                content: '';
                                position: absolute;
                                right: 6px;
                                top: calc(50% - 6px);
                                border: solid black;
                                border-width: 0 3px 3px 0;
                                display: inline-block;
                                padding: 3px;
                                -webkit-transform: rotate(45deg);
                                -ms-transform: rotate(45deg);
                                transform: rotate(45deg);
                            }

                            .css-n209rx {
                                margin-right: 20px;
                                padding: 0 4px;
                                display: -webkit-box;
                                display: -webkit-flex;
                                display: -ms-flexbox;
                                display: flex;
                                -webkit-box-pack: end;
                                -webkit-justify-content: flex-end;
                                -ms-flex-pack: end;
                                justify-content: flex-end;
                                -webkit-align-items: center;
                                -webkit-box-align: center;
                                -ms-flex-align: center;
                                align-items: center;
                                .mr1-sm {
                                    padding-right: 4px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
