.css-48ks35 {
    display: flex;
    flex-direction: column;
    box-shadow: inset 0 0 0 0 #e5e5e5, inset 0 0 0 0 #e5e5e5, inset 0 -1px 0 0 #e5e5e5, inset 0 0 0 0 #e5e5e5;
    padding: 24px 0px;
    width: 100%;
}
.css-k008qs {
    display: flex;
}
@media only screen and (min-width: 600px) {
    .css-wu61ed {
        width: 180px;
        min-width: 180px;
    }
}

.css-wu61ed {
    // width: 96px;
    // min-width: 96px;
    padding-right: 16px;
    margin: 0px;
    img {
        background: rgb(245, 245, 245);
        max-width: 100%;
        border-style: none;
    }
}
.css-1muntc4 {
    display: flex;
    flex-direction: column;
    -webkit-box-flex: 1;
    flex-grow: 1;
    min-width: 0px;
}
.css-18o14p5 {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.css-1u52liu {
    display: flex;
    flex-direction: column;
    min-width: 0px;
}
.css-1f31asj {
    color: #707072;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
@media only screen and (min-width: 960px) {
    .css-1sk38s6 {
        display: block;
    }
}
.css-1sk38s6 {
    color: #707072;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    // display: none;
}
.css-3x77rp {
    display: flex;
    flex-flow: wrap;
    min-width: 0px;
    color: #707072;
}
@media only screen and (min-width: 600px) {
    .css-1grl6ds {
        display: table-cell;
    }
}

.css-1grl6ds {
    display: block;
}
.css-123i213 {
    position: relative;
    background: rgb(255, 255, 255);
    display: inline-block;
    min-width: 52px;
    vertical-align: bottom;
    overflow: hidden;
    z-index: 0;
}
.css-1ilkyak {
    font-family: nike-glyphs;
    display: inline-block;
    font-size: inherit;
    line-height: inherit;
    vertical-align: top;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    text-decoration: none;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    padding-left: 16px;
    padding-right: 12px;
    position: absolute;
    right: 0px;
    text-align: right;
    color: #707072;
    z-index: -1;
}
.css-1ilkyak::before {
    content: '\02C5';
}
.css-46rwad {
    padding-left: 10px;
    height: 100%;
    width: 100%;
    padding-right: 32px;
    min-height: inherit;
    font-size: var(--podium-cds-font-size-xs);
    color: var(--podium-cds-color-text-secondary);
    background: none;
    border: 0px;
    border-radius: 2px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    appearance: none;
}
.css-q2xuk9 {
    display: flex;
    flex-direction: column;
    vertical-align: top;
    margin-right: -8px;
}
.css-q2xuk9 .price.price {
    display: flex;
    flex-flow: wrap;
    height: fit-content;
    text-align: right;
    -webkit-box-pack: end;
    justify-content: flex-end;
    margin-left: -6px;
}
.css-1892kza .price {
    color: #111111;
    font-weight: 500;
}
.css-144dtt {
    padding-right: 14px;
}
.css-97bjgu {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
}
.css-1fqekfo {
    margin-right: 16px;
    display: inline-block;
}
.move_favourite {
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
    text-align: center;
    text-decoration: none;
    background: 0px 0px;
    cursor: pointer;
    transition: all 0.2s ease 0s;
    font-family: 'Helvetica Now Text', Helvetica, Arial, sans-serif;
    line-height: 1;
    padding: 4px 0px;
    color: #111111;
    box-shadow: none;
    font-size: 1.8rem;
}
.css-xvg8qz {
    font-size: 16px;
    padding-top: 12px;
}
.cartItem__incrDec {
    display: flex;
    align-items: center;

    button {
        background-color: #fff;
        border: 1px solid #ddd;
        padding: 0.5em;
        cursor: pointer;

        &:hover {
            background-color: #f0f0f0;
        }
    }

    p {
        margin: 0 1em;
    }
}
