.product-main {
    display: flex;
    width: 100%;
    .main-info {
        flex: 3 1 80%;
        padding-right: 8px;
        .info-title {
            font-weight: 500;
            line-height: 1.2;
            letter-spacing: 0.007em;
        }
        .info-sub-title {
            padding-bottom: 4px;
            display: inline-block;
        }
        .info-price {
            margin-bottom: 12px;
            .product-price {
                margin-top: 12px;
                margin-right: 8px;
            }
        }
    }
}
