.product-description {
    .product-note {
        padding-top: 24px;
        .description-preview {
            .description-preview__features {
                padding: 32px 0 24px;
                .ncss-li {
                    list-style-type: disc;
                    margin-left: 16px;
                    margin-bottom: 4px;
                }
            }
        }
    }
}
