.menu-notification {
    // Đoạn này không cần thiết vì đã có display: none; ở trên
    display: flex;
    // display: none;

    flex-wrap: wrap; /* Cho phép các sub-menu xuống hàng */
    justify-content: space-evenly;
    padding: 0 20%;
    position: absolute;
    right: 0;
    left: 0;
    background: #ffffff;
    z-index: 99;
    text-align: center;
    animation: headerthongbaohien step-end 0.3s;

    .sub-menu {
        padding: 50px 0px 0px;
        flex: 1 0 25%; /* Mỗi sub-menu chiếm 25% chiều rộng trên mỗi hàng */
        max-width: calc(25% - 20px); /* Sử dụng max-width để tránh tràn ra ngoài */
        margin: 0 10px; /* Tạo khoảng cách giữa các sub-menu */

        li {
            margin: 8px;
            font-size: 1.4rem;
            :hover {
                color: #111;
            }
        }

        a {
            color: #7e7e7e;
        }
    }
}
